body{
    text-align: center;
    background-color: #E3FCBF;
}
p{
   font-size: 30px;
   color: blueviolet;
}

a{
    padding: 0 15px;
    text-decoration: none;
    border: 4px solid rgb(208, 0, 255);
    margin: 20px;
    background-color: beige;
    border-radius: 10px;
}
img{
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 70px;
    padding: 25px;
}
